DB_PATH="./tubely.db"
JWT_SECRET="JKFNDKAJSDKFASFNJWIROIOTNKNFDSKNFD"
PLATFORM="dev"
FILEPATH_ROOT="./app"
ASSETS_ROOT="./assets"
S3_BUCKET="tubely-8281"
S3_REGION="ap-southeast-2"
S3_CF_DISTRO="https://d21l9h3gftui6p.cloudfront.net"
PORT="8091"
# aws credentials should be set in ~/.aws/credentials
# using the `aws configure` command, the SDK will automatically
# read them from there
